button {
  font-family: Arial;
}

.fname {
  margin-right: 5px;
  width: 115px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}

.email {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 246px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.button {
  color: white;
  font-weight: bold;
  background-color: rgb(37, 37, 255);
  font-size: 20px;
  border-radius: 5px;
  border-style: none;
  margin-top: 15px;
  padding: 10px;
  padding-left: 90px;
  padding-right: 90px;
  cursor: pointer;
}