.text {
  display: block;
}

.service {
  border-style: solid;
  border-color: lightgray;
  display: inline-block;
  border-width: 2px;
  padding: 8px;
  padding-right: 80px;
  padding-bottom: 15px;
}

.gg {
  color: white;
  font-weight: bold;
  font-size: large;
}

.ytb {
  width: 400px;
  background-color: rgb(63, 63, 63);
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}



p {
  font-family: Arial; 
}
