p {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.model {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.text {
  font-size: 13px;
}

.td {
  text-decoration: underlin e;
}